<!doctype html>
<html lang="es">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <link href="{% static 'pedidos/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'pedidos/css/styles.css' %}" rel="stylesheet">

  <title>{% block title %}Innovations Tours{% endblock %}</title>
  <style>
    body { background: transparent; }
  </style>
</head>
<body class="p-0 m-0">

  {% block content %}{% endblock %}

  <!-- JS: Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Flatpickr core -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <!-- Flatpickr locale ES -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>

  <!-- Tu script de UX -->
  <script src="{% static 'pedidos/js/pedido_form.js' %}"></script>
</body>
</html>
