{% extends "pedidos/base.html" %}
{% load static %}

{% block title %}Nuevo pedido · Innovations Tours{% endblock %}

{% block content %}
<div class="container my-4">
  <h1 class="h5 mb-3 text-center">Nuevo pedido</h1>
  <form
    id="pedido-form"
    method="post"
    novalidate
    action="{% url 'pedidos:pedido_nuevo_cliente' %}?embed=1"
  >
    {% csrf_token %}
    {% include "pedidos/_pedido_form.html" %}
  </form>
</div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'pedidos/js/pedido_form.js' %}"></script>
{% endblock %}
