{% extends "pedidos/base_blank.html" %}
{% load static %}

{% block title %}
  {% if es_edicion %}Editar pedido{% else %}Nuevo pedido{% endif %} · Innovations Tours
{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
      <div class="card shadow-lg rounded-4 border-0">
        <div class="card-body p-4 p-md-5">

               <form id="pedido-form" method="post" novalidate
                  {% if es_edicion %}
                    action="{% url 'pedidos:pedido_editar_cliente' pedido.pk %}"
                  {% else %}
                    action="{% url 'pedidos:pedido_nuevo_cliente' %}"
                  {% endif %}
                >
                {% csrf_token %}
                {{ form.as_p }}
                {% include "pedidos/_pedido_form.html" %}
                  <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary px-5">
                      {% if es_edicion %}Actualizar{% else %}Guardar pedido{% endif %}
                    </button>
                  </div>
                </form>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {# Si necesitas scripts adicionales, añádelos aquí #}
{% endblock %}