{% extends "pedidos/base_blank.html" %}
{% load static %}

{% block title %}Nuevo pedido · Innovations Tours{% endblock %}

{% block content %}
<div class="container my-4">
    
  <form
    id="pedido-form"
    method="post"
    novalidate
    action="{% url 'pedidos:pedido_nuevo_cliente' %}?embed=1"
  >
    {% csrf_token %}
    {% if embed %}
  <input type="hidden" name="embed" value="1">
{% endif %}
    {% include "pedidos/_pedido_form.html" %}
  </form>
</div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'pedidos/js/pedido_form.js' %}"></script>
{% endblock %}
